# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Firebase & Google Cloud
firebase-debug.log

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Build artifacts
/build/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Firebase & Google Cloud
firebase-debug.log

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Build artifacts
/build/

svc-account.json
